<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Payment</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Order Interface</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pb-5 mt-n2 mt-md-n3">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <th:block th:each="cartItem : ${cartItems.keySet()}">
                    <li class="list-group-item d-flex justify-content-between lh-condensed"
                        th:with="quantity=${cartItems.get(cartItem)}">
                        <div>
                            <h6 class="my-0" th:text="${cartItem.name}"></h6>
                            <small class="text-muted" th:text="${cartItem.name}"></small>
                        </div>
                        <div>
                            <span class="text-muted" th:text="${quantity}"></span>
                            <span class="text-muted" th:text="'$'+${cartItem.price}"></span>
                        </div>
                    </li>
                </th:block>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0">Currency Selection: </h6>
                    <!-- Choose Currency Conversion -->
                    <form action="#" data-th-action="@{/payment}" class="form" method="post">
                        <select class="selectpicker" data-live-search="true" name="currency">
                            <!-- Add currency choices -->
                            <option data-tokens="Singapore Dollar" value="SGD">Singapore Dollar</option>
                            <option data-tokens="EUROS" value="EUR">EUROS</option>
                        </select>
                        <button class="btn btn-outline-secondary btn-sm btn-block mb-2" type="submit" name="conversion">
                            Update currency
                        </button>
                    </form>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong th:text="${totalPrice}"></strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Checkout</h4>
            <form action="#" data-th-action="@{/confirm}" class="form" method="post">
                <div class="mb-3">
                    <label for="fullName">Full name</label>
                    <input type="text" class="form-control" id="fullName" placeholder="" value="" required="" name="fullname">
                    <div class="invalid-feedback">
                        Valid full name is required.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select name="countryCode" class="custom-select d-block w-100" id="country" required="">
                            <option value=0>Choose...</option>
                            <option value=65>Singapore</option>
                            <option value=49>Europe</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm Payment</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</body>
</html>
